# Ignore __pycache__ folders
__pycache__/
*.pyc

# Ignore environment and secret files
.venv/
.env
calender-141c2-firebase-adminsdk-qbb17-909de909f8.json
.env

# Ignore any SQLite database files if created
*.sqlite3
*.db

# Ignore VSCode settings (optional, if used locally)
.vscode/

# Ignore compiled code or temporary files
*.log
*.cache


